/* * Main Styles * */

.full-width {
	width: 1400px;
	clear: both;
}

.half-width {
	width: 600px;
	float: right;
}

.third-width {
	width: 400px;
	float: left;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #313131;
}

/* * Header Styles * */

header {
	height: 800px;
}

.main-nav ul {
	list-style-type: none;
}

.main-nav a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: #313131;
	float: left;
	padding: 15px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 64px;
	font-weight: 700;
	margin-left: 100px;
}

h1 span {
	color: #ff654a;
}

header p {
	font-size: 28px;
	margin-left: 100px;
}

/* * About Styles * */

#about {
	height: 1045px;
	background-color: #ff654a;
	color: #fff;
	text-align: center;
}

#about h2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 36px;
	padding-top: 175px;
}

#about p {
	width: 600px;
	text-align: center;
	font-size: 24px;
}

/* * Portfolio Styles * */

#portfolio {
	height: 850px;
}



/* * Footer Styles * */

#contact {
	height: 650px;
	background-color: #ff654a;;
	color: #fff;
}


